* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.5s;
}

.photo-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.bg {
  background-size: cover;
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-bar {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #023047;
  padding: 2em 2em;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 5px;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.nav-title {
  text-decoration: none;
  color: white;
}

.nav-title:hover {
  color: #48e4e4;
}

.nav-span {
  background-color: white;
  color: #023047;
  padding: 0.5em;
  margin-right: 0.5em;
}
.nav-span:hover {
  background-color: #48e4e4;
}

.nav-menu {
  text-decoration: none;
  color: white;
}
.nav-menu:hover {
  color: #48e4e4;
}
.main-area {
  background-color: #023047;
  color: white;

  padding: 3em;
  letter-spacing: 3px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-area h1 {
  font-size: 3em;
}

.mainarea-hr {
  margin: 3em 0;
}

.main-area2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-area2 p {
  font-size: 0.8em;
  padding-right: 2em;
}

.mainarea-btn {
  border: 2px solid white;
  background-color: #023047;
  padding: 1em 2em;
  font-size: 0.8em;
  color: white;
  letter-spacing: 3px;
}
.photos-container {
  display: flex;
  flex-direction: row;
}
#project1 {
  background-size: cover;
}
#project1 .bg {
  background-image: url("./images/project1.jpg");
}
#project1 .photo-filter {
  background-color: #023047b2;
}
#project1 .filter {
  background-color: #48c5e4c5;
}
#project1 .filter:hover {
  background-color: transparent;
}

#project2 {
  background-size: cover;
}
#project2 .bg {
  background-image: url("./images/project2.jpg");
}
#project2 .photo-filter {
  background-color: #023047b2;
}
#project2 .filter {
  background-color: #d985fac5;
}
#project2 .filter:hover {
  background-color: transparent;
}

#project3 {
  background-size: cover;
}
#project3 .bg {
  background-image: url("./images/project3.jpg");
}
#project3 .photo-filter {
  background-color: #023047b2;
}
#project3 .filter {
  background-color: #fd9474be;
}
#project3 .filter:hover {
  background-color: transparent;
}

#project4 {
  background-size: cover;
}
#project4 .bg {
  background-image: url("./images/project4.jpg");
}
#project4 .photo-filter {
  background-color: #023047b2;
}
#project4 .filter {
  background-color: #fac07ebe;
}
#project4 .filter:hover {
  background-color: transparent;
}

#project5 {
  background-size: cover;
}
#project5 .bg {
  background-image: url("./images/comingsoon/SL_030420_28660_03.jpg");
}
#project5 .photo-filter {
  background-color: #023047b2;
}
#project5 .filter {
  background-color: #7ebefabe;
}
#project5 .filter:hover {
  background-color: transparent;
}

#project6 {
  background-size: cover;
}
#project6 .bg {
  background-image: url("./images/comingsoon/SL_030420_28660_03.jpg");
}
#project6 .photo-filter {
  background-color: #023047b2;
}
#project6 .filter {
  background-color: #7efab6be;
}
#project6 .filter:hover {
  background-color: transparent;
}

.photo-left {
  position: relative;
  width: 40vw;
  height: 60vh;
  padding: 3em 5em;
  color: white;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photo-left h2,
.photo-left hr,
.photo-left p,
.photo-right h2,
.photo-right hr,
.photo-right p {
  z-index: 1;
}

.photo-left h2 {
  font-size: 2em;
}
.photo-hr {
  width: 17vw;
  margin: 1em 0;
  border: 0.5px solid white;
}

.photo-left p {
  font-size: 0.8em;
}

.photo-right {
  width: 60vw;
  height: 60vh;
  padding: 3em 5em;
  color: white;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.photo-right h2 {
  font-size: 2em;
}

.photo-right p {
  font-size: 0.8em;
}

.trailer {
  background-color: #073952;
  color: white;

  padding: 4em;
  letter-spacing: 1px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trailer h1 {
  font-size: 2em;
  padding-bottom: 0.7em;
}

.trailer-hr {
  width: 17vw;
  border: 1px solid white;
  margin-bottom: 3em;
}

.trailer p {
  font-size: 1em;
  font-weight: 100;
  line-height: 2em;
  padding-bottom: 3em;
}

.trailer-btn {
  border: 2px solid white;
  background-color: #023047;
  padding: 1em 2em;
  font-size: 0.8em;
  color: white;
  letter-spacing: 3px;
  width: fit-content;
}

.contact {
  display: flex;
}

.contact-left {
  width: 60%;
  padding: 5em 3em;
  background-color: #023047;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.info {
  display: flex;
}

.name {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
}

.name h2,
.email h2,
.message h2 {
  padding-bottom: 0.5em;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.name input,
.email input,
.message textarea {
  padding: 1em;
  background-color: #073952;
  color: white;
  border: 0;
}
input:focus,
textarea:focus {
  border: 1px solid #48e4e4;
  outline: 0;
}

.email {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 2em 0;
}

.send-btn {
  border: 2px solid white;
  background-color: white;
  padding: 1em 2em;
  font-size: 0.8rem;
  font-weight: 600;
  color: #023047;
  letter-spacing: 3px;
  width: fit-content;
}

.clear-btn {
  border: 2px solid white;
  background-color: #023047;
  padding: 1em 2em;
  font-size: 0.8em;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
  width: fit-content;
}

.contact-right {
  width: 40%;
  background-color: #023047;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-info {
  padding: 3em;
  display: flex;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.info-icon {
  padding-right: 2em;
}

.info-h1 {
  font-size: 1.5em;
  padding-bottom: 1em;
}

.contact-info h2 {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 2em;
}

.info-data a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.info-icon i {
  border-radius: 50%;
  background-color: white;
  color: #023047;
  padding: 0.8em;
}

.footer {
  height: 35vh;
  padding: 3em;
  background-color: #023047;
}

.footer-icon {
  border-radius: 50%;
  background-color: white;
  color: #023047;
  padding: 0.8em;
  margin: 0.6em;
}
.footer-icon:hover {
  background-color: #48e4e4;
}
.footer p {
  padding-top: 2em;
  color: rgba(255, 255, 255, 0.1);
  font-size: 1em;
}
